footer{
    width:101.16%;
    height:20%;
    border-radius: var(--radius_bottom);
    margin-top:170px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background_color_bottom);
  }
  footer > p{
    margin:0;
  }
  .footerText{
    width:50%;
    height:130px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }