body{
  width:97.9vw;
  height:100vh;
  font-family: 'Inter';
  text-align: center;
  margin:0;
  background-color: #FAFAFA;
}
:root{
  --color_give:#BF1B2C;
  --color_bottom:#6D6969;
  --background_color_bottom:#F0F0F0;
  --radius_bottom:0 50% 0 0;
  --background_color_register_request:#FF4D4D;
  --color_register_form:#FF4D4D;
}

main{
  width:70%;
  height:100%;
  display:inline-flex;
}