.main{
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.mainForm{
    width:60%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#F0F0F0;
    border: 4px solid #D0D0D0;
    border-radius: 5%;
}

.content > *, .select > *, .registerButton{
    height: 50px;
    font-size: 20px;
}
.content > input, .select > *:first-child{
    padding-left: 20px;
    border:1px solid white;
    border-bottom: 4px solid #D0D0D0;
}
.select > input:first-child{
    margin-right: 80px;
}
.content > input:nth-child(2){
    margin-right: 25px;
}
.content > input:nth-child(7){
    margin-right: 30px;
    width: 50%;
}
.content{
    width:80%;
    height:100%;
}
.info{
    margin-top: 120px;
    font-size:25px;
}

input[type=radio]{ display:none; }

input[type=radio]+label{
    display:inline-block;
    cursor:pointer;
    height:48px;
    width:90px;
    margin: 0 5px;
    background-color:white;
    line-height: 48px;
}
input[type=radio]+label{
    background-color:white;
    border-radius: 10px;
    color:black
}
input[type=radio]:checked+label{
    background-color: #FF4D4D;
    color:white;
}
.select input[type=text]{
    width:40%;
}
.phoneNumber, .day{
    width:37%;
}

.emails, .emailCheck{
    width: 80%;
}

.emailCheck , .numberCheck{
    background-color: #FF7E7E;
    border:1px solid #FF7E7E;
    border-radius: 5px;
    color:white;
}
.emailCheck{
    width:83%;
}
.numberCheck{
    width:26%;
    height:45px;
}
.content > input[type=password], .address{ width: 80%; }

.content > *{
    margin: 25px 0;
}

.content > *:first-child {
    margin-top: 50px;
}

.registerButton{
    width:83%;
    height:60px;
    background-color:var(--background_color_register_request);
    color:white;
    border: 1px solid #FF4D4D;
    font-size: 30px;
    margin-bottom: 50px;
}

.bloodType{
    display:flex;
    align-items: center;
    justify-content: center;
}
.bloodType > p{
    margin-right: 100px;
}